html, body {
	background-color: white;
	color: black;
}

.disabled {
	color: gray;
}
.error {
	color: red;
}
td.error, div.error, input.error, textarea.error {
	color: inherit;
	background-color: #fcc;
}
.good {
	color: green;
}
td.good, div.good, input.good, textarea.good {
	color: inherit;
	background-color: #cfc;
}
.warning {
	color: #f90;
}
td.warning, div.warning, input.warning, textarea.warning {
	color: inherit;
	background-color: #fda;
}

.hint {
	font-size: 90%;
	color: #666;
}

.highlight {
	background-color: #ffc;
}

tr.row0 {
	background-color: #f4f4f4;
}
